.header {
    display: grid;
    width: 100vw;
    grid-template-columns: 20% 20% 20% 20% 20%;
    div {
        position: relative;
        text-align: center;
        button {
            width: 80%;
            margin: 0 auto;
            position: relative;
            a{ 
                width: 100%;
                display: block;
                color: #fff;
                font-size: 1.5vw;
            }
        }
    }
    
}


h1 {
    margin-top: 15px;
    text-align: center;
}

h4 {
    margin-top: 5px;
    text-align: center;
}