.header {
    display: grid;
    width: 100vw;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    div {
        position: relative;
        button {
            width: 80%;
            margin: 0 auto;
            position: relative;
            a{ 
                width: 100%;
                display: block;
                color: #fff;
            }
        }
    }
    
}