.wrapper {
    position: relative;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 60vw 40vw;
}

.head {
    position: relative;
    grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.content {
    position: relative;
    grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.footer {
    position: relative;
    grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}